[build]
  base = "vite-project"
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 8888

[functions."supabase-heartbeat"]
  schedule = "0 9 * * *"
